---
---
$text-color: #494745;
$base-font-size: 16px;
$small-padding: 1.2em;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Rooney", "rooney-web", Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  color: $text-color;
}

a, a:visited {
  color: $text-color;
}

.container {
  width: 700px;
  margin: 6rem auto;
}

h1,h2,h3,h4 {
  font-family: cardo !important;
}

.post {
  h1 {
    font-size: 6.25rem;
    line-height: 1em;
  }

  h2 {
    font-size: 2em;
  }

  em {
    font-weight: bold;
  }
}

highlighter-rouge {
  border-radius: 5px;
}

pre.highlight {
  padding: $small-padding;
}

article p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.75em;
}

header {
  position: absolute;
  top: 20px;
  left: 20px;

  nav {
    position: relative;
    top: 0;
    left: 0;

    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
    }
  }
}
